<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chapterName</key>
		<string>熟悉OC</string>
		<key>lists</key>
		<array>
			<string>第1条：了解OC语言的起源</string>
			<string>第2条：在类的头文件中尽量少引入其他头文件</string>
			<string>第3条：多用字面量语法，少用与之等价的方法</string>
			<string>第4条：多用类型常量，少用#define预处理指令</string>
			<string>第5条：用枚举标识状态、选项、状态码</string>
		</array>
		<key>VCNames</key>
		<array>
			<string>Item1VC</string>
			<string>Item2VC</string>
			<string>Item3VC</string>
			<string>Item4VC</string>
			<string>Item5VC</string>
		</array>
		<key>isShow</key>
		<true/>
	</dict>
	<dict>
		<key>chapterName</key>
		<string>对象、消息、运行期</string>
		<key>lists</key>
		<array>
			<string>第6条：理解“属性”这一概念</string>
			<string>第7条：在对象内部尽量直接访问实例变量</string>
			<string>第8条：理解“对象等同性”这一概念</string>
			<string>第9条：以“类族模式”隐藏实现细节</string>
			<string>第10条：在既有类中使用关联对象存放自定数据</string>
			<string>第11条：理解objc_msgSend的作用</string>
			<string>第12条：理解消息转发机制</string>
			<string>第13条：用“方法调配技术”测试“黑盒方法”</string>
			<string>第14条：理解“类对象”用意</string>
		</array>
		<key>VCNames</key>
		<array>
			<string>Item6VC</string>
			<string>Item7VC</string>
			<string>Item8VC</string>
			<string>Item9VC</string>
			<string>Item10VC</string>
			<string>Item11VC</string>
			<string>Item12VC</string>
			<string>Item13VC</string>
			<string>Item14VC</string>
		</array>
		<key>isShow</key>
		<true/>
	</dict>
</array>
</plist>
